/*弹窗*/
.ui_mask {
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	text-align: center;
	display: none;
}

.ui_mask:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.ui_box {
	max-width: 600px;
	max-height: 600px;
	background: #fff;
	overflow: hidden;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	vertical-align: middle;
	margin-left: -240px;
	margin-top: -900px;
	position: relative;
}

.ui_box .close {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
	z-index: 1000;
}

.ui_box .ui_tit {
	background: #eff0f1;
	font-size: 16px;
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	line-height: 50px;
	width: 100%;
	z-index: 999;
}

.ui_box>.ui_btj {
	background: #eff0f1;
	font-size: 16px;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 56px;
	line-height: 56px;
	width: 100%;
	z-index: 999;
	text-align: center;
	box-sizing: border-box;
	padding: 0 20px;
}

.ui_box>.ui_btj * {
	line-height: normal;
}

.ui_box .ui_con {
	max-height: 600px;
	min-width: 200px;
	min-height: 130px;
	padding: 50px 18px 56px 0;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	overflow-y: scroll;
	margin-right: -18px;
}