/*个人信息页css*/
body{
/* 	background-color: rgba(251, 251, 251, 0.3); */
}
.panel-heading{
	text-align: center;
}
#dep_info_div {
	width: 380px;
	height: 100%;
	margin: 0 auto;
}

#dep_info_div table tr td {
	line-height: 20px;
	padding-top: 15px;
	padding-left: 10px;
}

.dep_info_table_td{
	float: left;
}
.label_red{
	margin-top:5px;
	float: left;
	color: red;
}
.label_blue{
	margin-top:5px;
	float: left;
	color: blue;
}
.p_color{
	color: #b4aeae;
}