@charset "utf-8";

/* CSS Document */
.vtab_sel {
	padding: 20px 25px 0;
	background: #fff
}

.vtab_sel .vel {
	background: url(../../images/tab_bg_03.jpg) repeat-x;
	height: 36px;
	line-height: 36px;
	text-align: center;
	padding: 0 40px;
	display: inline-block;
	position: relative;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.vtab_sel .vel2 {
	background: url(../../images/stabbg_03.jpg) repeat-x;
	height: 36px;
	line-height: 36px;
	text-align: center;
	padding: 0 40px;
	display: inline-block;
	color: #fff;
	position: relative;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.vtab_sel .vel2 .ico14 {
	position: absolute;
	top: 5px;
	right: 5px;
}

.ed_gkp {
	padding: 20px 25px;
	background: #fafafa;
	position: relative;
	z-index: 9
}

.ed_nkl {
	margin-bottom: -20px;
}

.ed_nkl>* {
	margin-bottom: 10px;
}

.ed_nkl .nk_ti {
	float: left;
	height: 40px;
	line-height: 40px
}

.ed_nkl .nk_sel {
	float: left;
	margin-left: 15px;
	position: relative
}

.ed_nkl .nk_sel .sct {
	padding: 0 10px;
	font-size: 14px;
	border: 1px solid #ddd;
	width: 103px;
	height: 40px
}

.ed_nkl .nk_sel .text {
	border: 1px solid #ddd;
	padding: 5px 10px;
	height: 28px;
	line-height: 26px;
	font-size: 14px
}

.ed_nkl .nk_sel .custom_select {
	width: 90px;
	height: 42px;
	margin-right: -1px;
	border: 1px solid #ddd;
}

.ed_nkl .nmta {
	height: 40px;
	line-height: 40px;
	float: left;
	margin-left: 10px
}

.ed_nkl .ed_msl {
	float: right;
	margin-left: 15px
}

.ed_nkl .ed_msl a {
	display: inline-block;
	padding: 10px 15px;
	background: #fff;
	border: 1px solid #ddd;
	margin-right: 10px
}

.ed_nkl .ed_msl a.cur, .ed_nkl .ed_msl a:hover {
	background: #f24143;
	color: #fff;
	border-color: #f24143
}

.ed_nkl_right {
	position: absolute;
	top: 50%;
	right: 25px;
	margin-top: -20px
}

.ed_gkp .search {
	float: left;
}

.search .ser_sel {
	/*border: 1px solid #dddddd;*/
	/*border-width: 1px 0 1px 1px;*/
	height: 40px;
	line-height: 40px;
	/*width: 50px;*/
	/*padding: 0 15px;*/
	float: left;
	position: relative;
	background: #fff
}

.ed_nkl .nk_sel .ico {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -10px
}

.search .ser_sel .ico7 {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -11px
}

.search .ser_sel .sr_sl_most {
	background: #fff;
	position: absolute;
	top: 40px;
	left: -1px;
	border: 1px solid #ddd;
	width: 80px;
	display: none
}

.search .ser_sel .sr_sl_most a {
	display: block;
	padding: 2px 10px;
	border-bottom: 1px solid #f0f0f0
}

.search .ser_sel .sr_sl_most a:hover {
	background: #f13f2c;
	color: #fff
}

.search .ser_sel:hover .sr_sl_most {
	display: block
}

.search .ser_box {
	border: 1px solid #ddd;
	padding: 5px 40px 5px 10px;
	height: 30px;
	line-height: 30px;
	position: relative;
	width: 300px;
	float: left;
	background: #fff
}

.search .ser_box .text {
	border: 0;
	background: none;
	padding: 0;
	margin: 0;
	width: 98%;
	height: 30px;
	line-height: 30px;
	font-size: 14px
}

.search .ser_box .ico {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -11px;
	cursor: pointer
}

.search .ser_most {
	float: left;
	height: 40px;
	line-height: 40px;
	padding: 0 30px;
	border: 1px solid #ddd;
	background: #fff;
	font-size: 14px;
	float: left;
	margin-left: 10px
}

.search .ser_most:hover {
	background: #f13f2c;
	color: #fff
}

.
.hill_img {
	width: 46px;
	height: 46px;
	overflow: hidden;
}

.hill_img .hl_img {/* 
	width: 80px;
	height: 80px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
 */}

.hill_img .hl_img img {
	max-height: 80px;
	max-width: 80px;
}

.sel {
	padding: 0 10px;
	font-size: 14px;
	border: 1px solid #ddd;
	width: 80px;
	height: 24px;
	vertical-align: middle;
	line-height: 24px;
	background: url(../../images/ico60.svg) no-repeat scroll right 10px center transparent;
}

.ued_w {
	width: 430px;
	background: #fff;
	top: 0;
	right: 0;
	padding: 0 20px;
	background: #fff;
	margin-top: 10px;
}

.ued_w p {
	font-size: 16px;
	font-weight: bold;
	margin-top: 40px;
}

.ued_w .ismg {
	margin-top: 35px;
	margin-bottom: 45px;
}

.ued_w  .text {
	padding: 8px 10px;
	font-size: 14px;
	border: 1px solid #ddd;
	width: 100%;
}

.ued_w  a {
	padding: 8px 10px;
	font-size: 14px;
	border: 1px solid #ddd;
	float: left;
	margin-right: 5px;
}
.ued_w a.cur, .ued_w a:hover {
	background: #f24143;
	color: #fff;
	border-color: #f24143
}
.ued_w .jg {
	font-size: 30px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

.vcont{
	overflow: hidden;
}

.vcont a {
	color: #333;
	cursor: pointer;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin: 0 5px;
}

.vont select{
	border: 1px solid #ddd;	
}

.vcont .ico8 {
	background: url(../../images/search.svg) no-repeat center center;
	width: 22px;
	height: 22px;
}

.vcont .page {
    padding: 40px 20px;
    text-align: right;
    overflow: hidden;
}

.vcont .page a {
	cursor: pointer;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin: 0 5px;
}

.vcont .page a:hover {
    color: #f24143;
    text-decoration: none;
}

.vcont .page span {
    display: inline-block;
    margin: 0 5px;
    height: 26px;
    line-height: 26px;
}
.vcont .page .text{
	height: 24px;
	border: 1px solid #ddd;
	padding: 0 10px;
	line-height: 24px;
	width: 24px;
	margin: 0 5px;
	text-align: center;
}




.record_info_font{
	display:block;
	padding: 2px;
}
.record_info_font:hover{
	cursor:hand;
	color:red;
	background: #B5B5B5;
}

.btn_clean:hover{
	cursor:hand;
	background: red;
	
	color:white; !import;
	/* font-size: medium; */
}

.btn_c{
	text-align:center;
	 color: red;
    display: block;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    padding: 8px 25px;
    border-radius: 5px;
    position:absolute;
    bottom: 0px;
    width:85%;
}
.authorRecord{
	display: none; 
	position:absolute; 
	background-color:#FFFFF0;
	border-right: 1px solid #436EEE;
	border-left: 1px solid #436EEE;
	border-bottom: 1px solid #436EEE;
	height:280px; 
	width:99.2%;
	z-index: 9999;
}
